<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>全國空氣品質即時污染指標</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

</head>
<body ng-app="AirApp">
	<div class="wrap" ng-controller="MainController">
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<p class="navbar-text"><a class="navbar-brand navbar-link" href="">全國空氣品質即時污染指標</a></p> 
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="mailto:sw9856@gmail.com">錯誤回報</a>
					</li>
					<li>
						<a href="http://opendata.epa.gov.tw/Home/Index/" target="_blank">資料來源: 行政院環境報護署</a>
					</li>
					<li>
						<a href="http://creativecommons.tw/cc0" target="_blank">License: CC0</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="area" ng-show="type=='area'">
		 <div class="container">
			<div class="form-group">
				<select class="form-control" ng-model="county" ng-options="o for o in taiwanCounty">
					<option value="">-- 依縣市搜尋 --</option>
				</select>
			</div>
			<div class="row">
				<table class="table table-striped table-hover">
				 <tr>
					<th width="15%">測站名稱</th>
					<th width="15%">縣市</th>
					<th width="30%">空氣汙染指標</th>
					<th width="30%">指標汙染物</th>
					<th width="10%">狀態</th>
				 </tr>
				 <tr ng-repeat="air in countyData | filter:county | limitTo:100">
					<td>{{air.SiteName}}</td>
					<td><span class="label label-primary">{{air.County}}</span> </td>
					<td>{{air.PSI}}</td>
					<td>{{air.MajorPollutant}}</td>
					<td>{{air.Status}}</td>
				 </tr>
				</table>
			</div>
		 </div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="javascript/main.js"></script>
</body>
</html>